*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background: #f3f5f9;
}
.error {
    padding: 10px;
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    font-size: 14px;
}
.success {
    padding: 0px 2px;
    border: 1px solid #3c763d;
    color: #3c763d; 
    background: #dff0d8; 
    font-size: 14px;
    text-align: center;
}
.footer {
    width: 100%;
    padding: 15px;
    background-color: #4b4276;
    color: white;
    text-align: center;
    margin-top: 75px;
  }
  .footer div {
      padding: 5px;
  }
  .footer a {
      color: white;
  }
.wrapper{
    display: flex;
    position: relative;
}
.wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #4b4276;
    padding: 30px 0;
}
.wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.wrapper .sidebar ul li{
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0,05); 
    border-top: 1px solid rgba(225,225,225,0.05);
}
.wrapper .sidebar ul li a{
    color: #bdb8d7;
    display: block;
    
}
.wrapper .sidebar ul li a .fas{
    width: 25px;
}
.wrapper .sidebar ul li:hover{
 background: #594f8d;
}
.wrapper .sidebar ul li:hover a{
    color: #fff;
}

.wrapper  .main_content{
    width: 100%;
    margin-left: 200px;
}
.wrapper  .main_content .header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}
.wrapper  .main_content .info{
    margin: 20px;
    color: #717171;
    line-height: 25px;

}


table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}



input[type=text], input[type=email], input[type=password], [type=file],  [type=date],  [type=time],  [type=number], [type=month], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  


  /* SEARCH CSS */
.search {
    position: absolute;
    margin-top: -20px;
}
.search input[type='text']
{
    width:300px;
}
.search input[type='submit']
{
    width:100px;
}



/* FILTER BY  */
#filterByYeartList {
    display: none
}
#filterByMonthtList {
   display: none
}
#filterByDayList {
    display: none;
}






